head, body {
  background-color: #091540;
  color: #ABD2FA;
  font-family: Helvetica;
}

h1 {
  text-align: center;
  position: relative;
  top: 50px;
}

p {
  text-align: center;
  position:relative;
  top: 80px;
}
